h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-family: inherit;
  color: black;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

.font_blue {
  color: rgb(0, 102, 255);
}

.font_white {
  color: white;
}
